.section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  height: 50px;
  width: auto;
  flex-direction: column;
  flex: auto;
}

.mainContent {
  height: 80vh;
  width: 50vw;
  background-color: aquamarine;
  display: flex;
}
.mainContent .leftMain {
  display: flex;
  flex: 1;
}
.mainContent .rightMain {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.mainContent .rightMain .topRightMain {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #E7D09D;
}
.mainContent .rightMain .topRightMain h2 {
  margin-bottom: 0px;
}
.mainContent .rightMain .topRightMain p {
  margin-top: 1rem;
}

body {
  display: flex;
  justify-content: center;
  min-width: 75vw;
  font-family: "Times New Roman", Times, serif;
}

footer {
  height: 10vh;
  width: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: auto;
  background-color: #232936;
  color: #E7D09D;
}