.section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.mainContent {
  height: 80vh;
  width: 50vw;
  background-color: aquamarine;
  display: flex;


  .leftMain {
    display: flex;
    flex: 1;
  }

  .rightMain {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 8px;

    .topRightMain {
      display: flex;
      flex-direction: column;
      border-bottom: solid 1px #E7D09D;
      width: 100%;

      h2 {
        margin-bottom: 0px;
      }

      p {
        margin-top: 1rem;
      }
    }

    .bottomRightMain {
      .boiler {
        padding: 8px 0px;
      }

      p {
        margin: 0px;
      }

      h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2px 0px;

        p {
          margin: 0px;
        }
      }
    }
  }
}

body {
  display: flex;
  justify-content: center;
  min-width: 75vw;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  height: 10vh;
  width: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: auto;
  background-color: #232936;
  color: #E7D09D;
}