.section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.mainContent {
  height: -moz-fit-content;
  height: fit-content;
  min-height: 80vh;
  width: 50vw;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}
.mainContent .leftMain {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 32px;
}
.mainContent .leftMain .section {
  border-right: solid 1px #E7D09D;
}
.mainContent .leftMain .section .boiler h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.mainContent .leftMain .section .boiler h3 p {
  display: flex;
}
.mainContent .leftMain .topLeftMain {
  display: flex;
  flex-direction: column;
}
.mainContent .leftMain h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px 0px;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: 100;
}
.mainContent .leftMain p {
  margin: 0px;
}
.mainContent .rightMain {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  width: 75%;
}
.mainContent .rightMain .topRightMain {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #E7D09D;
  width: 100%;
}
.mainContent .rightMain .topRightMain h2 {
  margin-bottom: 0px;
}
.mainContent .rightMain .topRightMain p {
  margin-top: 1rem;
}
.mainContent .rightMain .bottomRightMain {
  width: 100%;
}
.mainContent .rightMain .bottomRightMain .boiler {
  padding: 8px 0px;
}
.mainContent .rightMain .bottomRightMain p {
  margin: 0px;
}
.mainContent .rightMain .bottomRightMain h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2px 0px;
  flex-wrap: wrap;
  gap: 12px;
}
.mainContent .rightMain .bottomRightMain h3 p {
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  min-width: 75vw;
  font-family: "Times New Roman", Times, serif;
}

footer {
  height: 10vh;
  width: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: auto;
  background-color: #232936;
  color: #E7D09D;
}