.section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.mainContent {
  height: fit-content;
  min-height: 80vh;
  width: 50vw;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;


  .leftMain {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 32px;

    .section {
      border-right: solid 1px #E7D09D;

      .boiler {

        h3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;

          p {
            display: flex;
          }
        }
      }

    }

    .topLeftMain {
      display: flex;
      flex-direction: column;
    }

    h3 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 2px 0px;
      flex-wrap: wrap;
      gap: 12px;
      font-weight: 100;
    }

    p {
      margin: 0px;
    }
  }

  .rightMain {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 32px;
    width: 75%;

    .topRightMain {
      display: flex;
      flex-direction: column;
      border-bottom: solid 1px #E7D09D;
      width: 100%;

      h2 {
        margin-bottom: 0px;
      }

      p {
        margin-top: 1rem;
      }
    }

    .bottomRightMain {
      width: 100%;

      .boiler {
        padding: 8px 0px;
      }

      p {
        margin: 0px;
      }

      h3 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 2px 0px;
        flex-wrap: wrap;
        gap: 12px;

        p {
          margin: 0px;
        }
      }
    }
  }
}

body {
  display: flex;
  justify-content: center;
  min-width: 75vw;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  height: 10vh;
  width: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: auto;
  background-color: #232936;
  color: #E7D09D;
}